**/test*
**/creds*
build/*
docs/build/*
src/phub/error.log
src/phub/__pycache__/__init__.cpython-311.pyc
src/phub/__pycache__/consts.cpython-311.pyc
src/phub/__pycache__/core.cpython-311.pyc
src/phub/__pycache__/database.cpython-311.pyc
src/phub/__pycache__/errors.cpython-311.pyc
src/phub/__pycache__/locals.cpython-311.pyc
src/phub/__pycache__/utils.cpython-311.pyc
src/phub/modules/__pycache__/__init__.cpython-311.pyc
src/phub/modules/__pycache__/display.cpython-311.pyc
src/phub/modules/__pycache__/download.cpython-311.pyc
src/phub/modules/__pycache__/parser.cpython-311.pyc
src/phub/modules/__pycache__/rss.cpython-311.pyc
src/phub/objects/__pycache__/__init__.cpython-311.pyc
src/phub/objects/__pycache__/account.cpython-311.pyc
src/phub/objects/__pycache__/data.cpython-311.pyc
src/phub/objects/__pycache__/feed.cpython-311.pyc
src/phub/objects/__pycache__/image.cpython-311.pyc
src/phub/objects/__pycache__/param.cpython-311.pyc
src/phub/objects/__pycache__/playlist.cpython-311.pyc
src/phub/objects/__pycache__/query.cpython-311.pyc
src/phub/objects/__pycache__/user.cpython-311.pyc
src/phub/objects/__pycache__/video.cpython-311.pyc
src/phub/users/UserData.db
src/phub.egg-info/dependency_links.txt
src/phub.egg-info/PKG-INFO
src/phub.egg-info/requires.txt
src/phub.egg-info/SOURCES.txt
src/phub.egg-info/top_level.txt
